{% extends 'base.html.twig' %}

{% block title %}Hello Admin!
{% endblock %}

{% block body %}

<div class="w-50 ms-auto me-auto mt-4">
    <h1>Hello {{ user.username }} !</h1>

    {% include 'user/list-user.html.twig' %}
    {% include 'link/index.html.twig' %}
</div>
{% endblock %}
