{% extends 'base.html.twig' %}

{% block title %}Edit Link{% endblock %}

{% block body %}
    <h1 class="mt-3 text-center">Edit Link</h1>

    {{ include('link/_form.html.twig', {'button_label': 'Update'}) }}
    <div class="d-flex mt-3 ms-auto me-auto justify-content-center" style="width:fit-content;">
         <a class="btn btn-add d-flex ms-auto me-auto" href="{{ path('adminLink_index') }}" style="width:fit-content;"><i class="bi bi-arrow-return-left me-2"></i>back to list</a>
         {{ include('link/_delete_form.html.twig') }}
    </div>
{% endblock %}
