{% extends 'base.html.twig' %}

{% block title %}New Link{% endblock %}

{% block body %}
    <h1 class="text-center mt-3">Create new Link</h1>

    {{ include('link/_form.html.twig') }}

    <a class="btn btn-add mt-4 d-flex ms-auto me-auto" href= "{{ path('adminLink_index') }}"style="width:fit-content;"><i class="bi bi-arrow-return-left me-2"></i>back to list</a>
{% endblock %}
