{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <h1>Login</h1>

    {# Debugging: Display the error variable to check its value #}

    {% if error %}
        <div style="color: red; font-weight: bold;">{{ error }}</div>
    {% endif %}
    
    <form action="{{ path('login') }}" method="POST">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="{{ app.request.get('username') }}" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
{% endblock %}
