{% extends 'base.html.twig' %}

{% block title %}Login
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">Login</h1>

        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
<p class="text-center">Utilisez ces identifiants : username = admin et mot de passe = admin</p>
        <form action="{{ path('login') }}" method="POST" data-turbo="false" class="mt-4 w-75 ms-auto me-auto">
            <div class="mb-3 w-50 ms-auto me-auto">
                <label for="username" class="form-label">Username:</label>
                <input type="text" id="username" name="username" class="form-control" value="{{ app.request.get('username') }}"  required>
            </div>
            <div class="mb-3 w-50 ms-auto me-auto">
                <label for="password" class="form-label">Password:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <div class="d-grid w-25 me-auto ms-auto">
                <button type="submit" class="btn btn-add">Login</button>
            </div>
        </form>
    </div>
{% endblock %}
